{
  "font_family": "verdana",
  "font_size": 18,
  "plotly_template": "plotly_white",
  "logger_level": "info",
  "input_path": "raw_videos",
  "annotations_xml": "annotations.xml",
  "output_root": "_output",
  "run_video_preparation": true,
  "run_scene_config_export": true,
  "run_tracking": true,
  "run_event_extraction": true,
  "run_event_merge": true,
  "model_weights": "yolo11s.pt",
  "device": "cpu",
  "confidence_threshold": 0.70,
  "tracker_config": "bytetrack.yaml"
}